# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Scientists
- Common libraries used by Data Scientists
- Evaluating Arithmetic Ecpressions

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. scikit-learn

| Data Science Tools | 
|--------------------|
| RStudio|
|IBM Watson Studio|
|PyTorch|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add intege
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
hours = 200//60
print(hours)

3

## Author
Anirudh Aswal